
.diaTemp {
    width: 250px;
    height: 250px;
    display: flex;
    align-content: center;
    justify-content: center;
    
  }

  #infos{
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 0;
  }

  h1{
    color: black;
  }

  
  h2{
    color: black;
  }

  
  h3{
    color: black;
  }